#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.post-section {
  padding: 2em;
}

.profile-info {
  display: flex;
  align-items: center;
  height: 100px;
  gap: 20px;
  background-color: #101010;
  padding: 0 20px;
  border-radius: 6px;
  margin-bottom: 20px;
}

.profile-pic {
  border-radius: 6px;
  height: 50px;
}

.canvas-image {
  height: 500px;
  width: 888px;
}

.post-method-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.select-item {
  background-color: #101010;
  padding: 20px;
}

.post-method {
  border-radius: 6px 0 0 6px;
  &:last-of-type {
    border-radius: 0 6px 6px 0;
  }
}

.method-active {
  background-color: #171717;
  border: 1px solid #646cff;
}

.org-item {
  margin: 20px 0;
}